default:
  suites:
    default:
      contexts:
        - PhpRayTracer\Tests\Behat\TupleContext
        - PhpRayTracer\Tests\Behat\ColorContext
        - PhpRayTracer\Tests\Behat\CanvasContext
        - PhpRayTracer\Tests\Behat\MatrixContext
        - PhpRayTracer\Tests\Behat\RayContext
        - PhpRayTracer\Tests\Behat\SphereContext
        - PhpRayTracer\Tests\Behat\IntersectionContext
        - PhpRayTracer\Tests\Behat\LightContext
        - PhpRayTracer\Tests\Behat\MaterialContext
        - PhpRayTracer\Tests\Behat\WorldContext
        - PhpRayTracer\Tests\Behat\CameraContext
        - PhpRayTracer\Tests\Behat\ShapeContext
        - PhpRayTracer\Tests\Behat\PlaneContext
        - PhpRayTracer\Tests\Behat\PatternContext
        - PhpRayTracer\Tests\Behat\CubeContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
          class: PhpRayTracer\Kernel
          path: '%paths.base%/src/Kernel.php'
          environment: test
          debug: true